<!DOCTYPE html>
<html>
  <head>
    <title>MiApp</title>
	<link rel="stylesheet" css" href="..\assets\stylesheets\application.css">
  </head>
  <body>
    	<h1>Bogotá sin basuras</h1>
  </body>
</html>
